Final Codes
data
__pycache__
clustering.png
greedy.png
results.hdf5
results.db
experiments_files/figure-html
experiments_files/libs
experiments.html
fairclustering.sif
slurm-*.out
coreset-clustering.png
*.log
coreset-fair-k-center.png
dummy.png
kfc.png
figs
target
analysis.sif
presentation/Rplots.pdf
presentation/alacarte-blx.bib
presentation/alacarte-figure0.md5
presentation/alacarte.aux
presentation/alacarte.auxlock
presentation/alacarte.bbl
presentation/alacarte.bcf
presentation/alacarte.blg
presentation/alacarte.fdb_latexmk
presentation/alacarte.fls
presentation/alacarte.nav
presentation/alacarte.out
presentation/alacarte.pdf
presentation/alacarte.run.xml
presentation/alacarte.snm
presentation/alacarte.toc
presentation/alacarte.vrb
presentation/bertinoro-Matteo.pdf
presentation/emoji.json
presentation/example.csv
presentation/example.dat
